apiVersion: v1
kind: BuildConfig
metadata:
  name: {{ cart_appname }}
  labels:
    app: {{ cart_appname }}
spec:
  output:
    to:
      kind: ImageStreamTag
      name: {{ cart_appname }}:latest
  source:
    contextDir: cart-service
    git:
      ref: {{git_branch }}
      uri: {{ git_repo_uri }}
    type: Git
  strategy:
    sourceStrategy:
      env:
      - name: MAVEN_MIRROR_URL
        value: {{ maven_mirror }}
      from:
        kind: ImageStreamTag
        namespace: openshift
        name: redhat-openjdk18-openshift:1.1
    type: Source
  resources:
    limits:
      cpu: 500m
      memory: "2Gi"
    requests:
      cpu: "200m"
      memory: "1Gi"