apiVersion: v1
kind: BuildConfig
metadata:
  name: {{ fe_appname }}
  labels:
    comp-required: "true"
    app: {{ fe_appname }}
spec:
  output:
    to:
      kind: ImageStreamTag
      name: {{ fe_appname }}:latest
  source:
    contextDir: coolstore-ui
    git:
      ref: {{git_branch }}
      uri: {{ git_repo_uri }}
    type: Git
  strategy:
    sourceStrategy:
      env: {} 
      #  - name: NPM_MIRROR
      #    value: {{ npm_mirror }}
      #  - name: BOWER_MIRROR
      #    value: {{ bower_mirror }}
      forcePull: false
      from:
        kind: ImageStreamTag
        name: nodejs:4
        namespace: openshift
    type: Source
  resources:
    limits:
      cpu: 500m
      memory: "2Gi"
    requests:
      cpu: "200m"
      memory: "1Gi"