apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: coolstore-{{ invntry_appname }}-access
subjects:
  - kind: ServiceAccount
    name: default
    namespace: {{ invntry_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: coolstore
