apiVersion: v1
kind: DeploymentConfig
metadata:
  name: {{ invntry_appname }}
  labels:
    app: {{ invntry_appname }}
    uses-database: "true"
spec:
  replicas: 1
  selector:
    deploymentconfig: {{ invntry_appname }}
  strategy:
    resources: {}
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ invntry_appname }}
        deploymentconfig: {{ invntry_appname }}
      name: {{ invntry_appname }}
    spec:
      containers:
      - env:
        - name: JGROUPS_PING_PROTOCOL
          value: openshift.KUBE_PING
        - name: OPENSHIFT_KUBE_PING_LABELS
          value: app={{ invntry_appname }}
        - name: OPENSHIFT_KUBE_PING_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: MQ_CLUSTER_PASSWORD
          value: 7mzX0pLV03
        - name: JGROUPS_CLUSTER_PASSWORD
          value: CqUo3fYDTv
        - name: AUTO_DEPLOY_EXPLODED
          value: "false"
        - name: DB_JNDI
          value: java:jboss/datasources/InventoryDS 
        - name: DB_SERVICE_PREFIX_MAPPING
          value: inventory-postgresql=DB
        - name: TX_SERVICE_PREFIX_MAPPING
          value: inventory-postgresql=DB
        - name: DB_USERNAME
          value: {{ invntry_db_username }}
        - name: DB_PASSWORD
          value: {{ invntry_db_password }}
        - name: DB_DATABASE
          value: inventorydb
        image: {{ invntry_appname }}
        imagePullPolicy: Always
        lifecycle:
          preStop:
            exec:
              command:
              - /opt/eap/bin/jboss-cli.sh
              - -c
              - :shutdown(timeout=300)
        livenessProbe:
          failureThreshold: 10
          httpGet:
            path: /api/availability/1
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        name: {{ invntry_appname }}
        ports:
        - containerPort: 8778
          name: jolokia
          protocol: TCP
        - containerPort: 8080
          name: http
          protocol: TCP
        - containerPort: 8888
          name: ping
          protocol: TCP
        readinessProbe:
          failureThreshold: 10
          httpGet:
            path: /api/availability/1
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            cpu: 1
            memory: 2Gi
          requests:
            cpu: 100m
            memory: 1Gi
        terminationMessagePath: /dev/termination-log
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext: {}
      terminationGracePeriodSeconds: 75
  triggers:
  - imageChangeParams:
      automatic: true
      containerNames:
      - {{ invntry_appname }}
      from:
        kind: ImageStreamTag
        name: {{ invntry_appname }}:latest
    type: ImageChange
  - type: ConfigChange