apiVersion: v1
kind: BuildConfig
metadata:
  name: {{ invntry_appname }}
  labels:
    app: {{ invntry_appname }}
spec:
  output:
    to:
      kind: ImageStreamTag
      name: {{ invntry_appname }}:latest
  source:
    contextDir: inventory-service
    git:
      ref: {{git_branch }}
      uri: {{ git_repo_uri }}
    type: Git
  strategy:
    sourceStrategy:
      env:
      - name: MAVEN_MIRROR_URL
        value: {{ maven_mirror }}
      forcePull: false
      from:
        kind: ImageStreamTag
        name: jboss-eap70-openshift:1.5
        namespace: openshift
    type: Source
  resources:
    limits:
      cpu: 1
      memory: "2Gi"
    requests:
      cpu: "200m"
      memory: "1Gi"