apiVersion: v1
kind: BuildConfig
metadata:
  name: {{ price_appname }}
  labels:
    app: {{ price_appname }}
spec:
  output:
    to:
      kind: ImageStreamTag
      name: {{ price_appname }}:latest
  source:
    contextDir: pricing-service
    git:
      ref: {{git_branch }}
      uri: {{ git_repo_uri }}
    type: Git
  strategy:
    sourceStrategy:
      env:
      - name: KIE_CONTAINER_DEPLOYMENT
        value: {{ kie_container_deployment }}
      - name: MAVEN_MIRROR_URL
        value: {{ maven_mirror }}
      from:
        kind: ImageStreamTag
        name: jboss-decisionserver64-openshift:1.0
        namespace: openshift
    type: Source
  resources:
    limits:
      cpu: 500m
      memory: "2Gi"
    requests:
      cpu: "200m"
      memory: "1Gi"