apiVersion: v1
kind: BuildConfig
metadata:
  name: {{ rvw_appname }}
  labels:
    app: review
spec:
  output:
    to:
      kind: ImageStreamTag
      name: {{ rvw_appname }}:latest
  source:
    contextDir: review-service
    git:
      ref: {{git_branch }}
      uri: {{ git_repo_uri }}
    type: Git
  strategy:
    sourceStrategy:
      env:
      - name: MAVEN_MIRROR_URL
        value: {{ maven_mirror }}
      from:
        kind: ImageStreamTag
        name: redhat-openjdk18-openshift:1.1
        namespace: openshift
    type: Source